body {
  margin: 0px;
  width: 100%;
  height: 100vh;
}

canvas {
  background-color: lightblue;
  margin: 20px;
  position:absolute;
  left:8.15vw;
  height: 45vw;
  width: 83.7vw;
  outline: auto;
}
.stats {
  position:absolute;
  left:8.15vw;
  width: 83.7vw;
  
}

img {
  display: none;
}
